<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="test.css"/>
</head>
<body>
<div style="margin-left: 50px; margin-right: 50px; margin-top: 80px; margin-bottom: 80px">
    <h1 style="display: inline; margin: 40px" class="date">
        2016-10-07
    </h1>
    <h1 style="display: inline" class="reddit">
        守望先锋reddit热帖及视频精选
    </h1>
</div>
<div style="margin: 50px">
    <h1 >守望先锋Reddit热帖精选</h1>
</div>
<div style="width: 100%; height: 600px">
<video src="http://112.25.47.15/youku/6971D268B8D3A770013CC3ED3/030008010057F9E990B1D704921C809063B206-22F4-DC7D-3A4B-329EDA80FDE0.mp4" controls width=100% ></video>
</div>
</body>
</html>