<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="test.css"/>
</head>
<body>
<div style="margin-left: 50px; margin-right: 50px; margin-top: 80px; margin-bottom: 80px">
    <h1 style="display: inline; margin: 40px" class="date">
        2016-10-07
    </h1>
    <h1 style="display: inline" class="reddit">
        守望先锋reddit热帖及视频精选
    </h1>
</div>
<div style="margin: 50px">
    <h1 >守望先锋Reddit热帖精选</h1>
</div>
<div style="width: 100%; height: 600px">
<video src="http://112.17.14.137/cache/cn-sddz7-cu.acgvideo.com/vg8/1/f1/10524615-1-hd.mp4?expires=1476015000&ssig=WLWCmzPVdY7eH7dDQomxBQ&oi=1866712164&rate=400000&ich_args2=403-09174911046798_764ec4beed2da785965a534d727912aa_10014001_9c88632ad7c3f7d49f33518939a83798_9048857bab4c58815e34e8919dedf45b" controls width=100% ></video>
</div>
</body>
</html>