{% extends "base.html" %}

{% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- auto completing tool -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.3/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.3/easy-autocomplete.min.css">

    <!--jqplot cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.highlighter.min.js"></script>

    <link type="text/css" rel="stylesheet" href={% load staticfiles %}{% static "pdo.css" %}>

    <script type="text/javascript" src={% load staticfiles %}{% static "pdo.js" %}></script>

{%  endblock %}

{% block header %}
    <title>Plot Data Online</title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome</h1>
    </div>
    <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div><div class="col-md-6 col-sm-8 col-xs-10">
        <div class="col-xs-12 col-sm-12 col-md-12 content-col-left">
            <input id="company_name" placeholder="Type the name of a company" size="25"/>
            <button type="button" class="btn btn-success add-company">Add Company</button>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 content-col-right">
            <button type="button" class="btn btn-info">Submit</button>
        </div></div> <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div>
    <div class="col-md-12">
    <div class="col-md-2 col-sm-1 col-xs-hidden"></div>
        <div class="col-md-3 col-xs-4 col-sm-4 plot-div-left">
{#            <button type="button" class="btn btn-warning plot-btn">Plot-me</button>#}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Financials</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Revenue USD Mil</li>
                            <li class="list-group-item">Gross Margin %</li>
                            <li class="list-group-item">Operating Income USD Mil</li>
                            <li class="list-group-item">Operating Margin %</li>
                            <li class="list-group-item">Net Income USD Mil</li>
                            <li class="list-group-item">Earnings Per Share USD</li>
                            <li class="list-group-item">Dividends USD</li>
                            <li class="list-group-item">Payout Ratio %</li>
                            <li class="list-group-item">Shares Mil</li>
                            <li class="list-group-item">Book Value Per Share USD</li>
                            <li class="list-group-item">Operating Cash Flow USD Mil</li>
                            <li class="list-group-item">Cap Spending USD Mil</li>
                            <li class="list-group-item">Free Cash Flow USD Mil</li>
                            <li class="list-group-item">Free Cash Flow Per Share USD</li>
                            <li class="list-group-item">Working Capital USD Mil</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Margins % of Sales</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Revenue</li>
                            <li class="list-group-item">COGS</li>
                            <li class="list-group-item">Gross Margin</li>
                            <li class="list-group-item">SG&A</li>
                            <li class="list-group-item">R&D</li>
                            <li class="list-group-item">Other</li>
                            <li class="list-group-item">Operating Margin</li>
                            <li class="list-group-item">Net Int Inc & Other</li>
                            <li class="list-group-item">EBT Margin</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Profitability</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Tax Rate %</li>
                            <li class="list-group-item">Net Margin %</li>
                            <li class="list-group-item">Asset Turnover (Average)</li>
                            <li class="list-group-item">Return on Assets %</li>
                            <li class="list-group-item">Financial Leverage (Average)</li>
                            <li class="list-group-item">Return on Equity %</li>
                            <li class="list-group-item">Return on Invested Capital %</li>
                            <li class="list-group-item">Interest Coverage</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                Growth Ratios</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Revenue Year over Year</li>
                            <li class="list-group-item">Revenue 3-Year Average</li>
                            <li class="list-group-item">Revenue 5-Year Average</li>
                            <li class="list-group-item">Revenue 10-Year Average</li>
                            <li class="list-group-item">Operating Income Year over Year</li>
                            <li class="list-group-item">Operating Income 3-Year Average</li>
                            <li class="list-group-item">Operating Income 5-Year Average</li>
                            <li class="list-group-item">Operating Income 10-Year Average</li>
                            <li class="list-group-item">Net Income Year over Year</li>
                            <li class="list-group-item">Net Income 3-Year Average</li>
                            <li class="list-group-item">Net Income 5-Year Average</li>
                            <li class="list-group-item">Net Income 10-Year Average</li>
                            <li class="list-group-item">EPS Year over Year</li>
                            <li class="list-group-item">EPS 3-Year Average</li>
                            <li class="list-group-item">EPS 5-Year Average</li>
                            <li class="list-group-item">EPS 10-Year Average</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                Cash Flow Ratios</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Operating Cash Flow Growth % YOY</li>
                            <li class="list-group-item">Free Cash Flow Growth % YOY</li>
                            <li class="list-group-item">Cap Ex as a % of Sales</li>
                            <li class="list-group-item">Free Cash Flow/Sales %</li>
                            <li class="list-group-item">Free Cash Flow/Net Income</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                Balance Sheet Items (in %)</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Cash & Short-Term Investments</li>
                            <li class="list-group-item">Accounts Receivable</li>
                            <li class="list-group-item">Inventory</li>
                            <li class="list-group-item">Other Current Assets</li>
                            <li class="list-group-item">Total Current Assets</li>
                            <li class="list-group-item">Net PP&E</li>
                            <li class="list-group-item">Intangibles</li>
                            <li class="list-group-item">Other Long-Term Assets</li>
                            <li class="list-group-item">Total Assets</li>
                            <li class="list-group-item">Accounts Payable</li>
                            <li class="list-group-item">Short-Term Debt</li>
                            <li class="list-group-item">Taxes Payable</li>
                            <li class="list-group-item">Accrued Liabilities</li>
                            <li class="list-group-item">Other Short-Term Liabilities</li>
                            <li class="list-group-item">Total Current Liabilities</li>
                            <li class="list-group-item">Long-Term Debt</li>
                            <li class="list-group-item">Other Long-Term Liabilities</li>
                            <li class="list-group-item">Total Liabilities</li>
                            <li class="list-group-item">Total Stockholders' Equity</li>
                            <li class="list-group-item">Total Liabilities & Equity</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                Liquidity/Financial Health</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Current Ratio</li>
                            <li class="list-group-item">Quick Ratio</li>
                            <li class="list-group-item">Financial Leverage</li>
                            <li class="list-group-item">Debt/Equity</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                Efficiency Ratios</a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Days Sales Outstanding</li>
                            <li class="list-group-item">Days Inventory</li>
                            <li class="list-group-item">Payables Period</li>
                            <li class="list-group-item">Cash Conversion Cycle</li>
                            <li class="list-group-item">Receivables Turnover</li>
                            <li class="list-group-item">Inventory Turnover</li>
                            <li class="list-group-item">Fixed Assets Turnover</li>
                            <li class="list-group-item">Asset Turnover</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-7 col-sm-7 plot-div-right">
            <div id="chartdiv" style="height:360px;width:600px; "></div>
        </div>
    </div>
{% endblock %}